<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <li><a href="/husers/login"> login</a> </li>
    <li><a href="/husers/register">register</a> </li>
  </body>
</html>
