<link rel="stylesheet" href="/assets/css/login.css">
<link rel="stylesheet" href="/assets/font/fonts.css">
<link rel="stylesheet" href="/assets/css/style.css">
    <title>Login</title>
  </head>
  <body>
    
    <div id="nav">
      <div class="nav-logo"  onclick="location.href='/'">
          <img src="/assets/img/logo/logo(1).png">WINGER
      </div>
      <div class="nav-elements" style="margin-left: auto;" onclick="location.href='/husers/login'">Login</div>
      <div class="nav-elements signup" onclick="location.href='/husers/register'">Sign up</div>
    </div>
    <div class="login-container" style="background-image: url('/assets/img/hero/98210.jpg'); background-repeat: no-repeat; background-size: cover;">
      <div class="log-form">
        <h2>Login</h2>

        <%- include ("./partials/messages") -%>

        <form action="/husers/login" method="POST">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
          <button type="submit" class="btn">Login</button>
          <a class="forgot" href="#">Forgot Username?</a>
        </form>
      </div>
      <!--end log form -->
    </div>
    <footer>
      <div class="footer">
              <div class="footer-placeholder">
                  <a href="#" class="logo"><img src="/assets/img/logo/zwinger.png" alt="Logo" height="100px" width="160px"></a>
              </div>			
              <div class="footer-copyright">
                  Copyright @Zwinger 2020.  All rights reserved.
              </div>                
        </div>
    </footer>
    <script src="/assets/js/response.js"></script>
  </body>
  