/* footer {
  margin: 100px 0 0 0;
  background: #006666;
  padding: 60px 0 25px 0;
  text-align: center;
}
footer .logo {
  margin-bottom: 20px;
}
footer ul li {
  display: inline-block;
  margin-top: 13px;
}
footer ul li a {
  width: 45px;
  line-height: 45px;
  font-size: 18px;
  margin: 0 7px;
  border:1px solid transparent;
}
footer ul li:nth-child(1) a {
  color: #677fb5;
  border-color:#677fb5;
}
footer ul li:nth-child(2) a {
  color: #70c2e9;
  border-color:#70c2e9;
}
footer ul li:nth-child(3) a {
  color: #d8545d;
  border-color:#d8545d;
}
footer ul li:nth-child(4) a {
  color: #007ab9;
  border-color:#007ab9;
}
footer ul li:nth-child(5) a {
  color: #5ecbf3;
  border-color:#5ecbf3;
}
footer ul li:nth-child(6) a {
  color: #ff3ba4;
  border-color:#ff3ba4;
}
footer ul li:nth-child(7) a {
  color: #e299c2;
  border-color:#e299c2;
}
footer ul li:nth-child(8) a {
  color: #faaa5e;
  border-color:#faaa5e;
}
footer ul li:nth-child(1) a:hover {
  background: #677fb5;
}
footer ul li:nth-child(2) a:hover {
  background: #70c2e9;
}
footer ul li:nth-child(3) a:hover {
  background: #d8545d;
}
footer ul li:nth-child(4) a:hover {
  background: #007ab9;
}
footer ul li:nth-child(5) a:hover {
  background: #5ecbf3;
}
footer ul li:nth-child(6) a:hover {
  background: #ff3ba4;
}
footer ul li:nth-child(7) a:hover {
  background: #e299c2;
}
footer ul li:nth-child(8) a:hover {
  background: #faaa5e;
}
footer ul li a:hover {
  color:#fff !important;
}
footer p {
  color:#fff;
  font-size: 15px;
  margin-top: 50px;
} */

#preloader-active{
  z-index: 100;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader{
  border: 8px solid #ffffff;
  border-top: 8px solid #1A237E;
  border-radius: 50%;
  box-shadow: #0000008a 0px 0px 20px;
  animation: load 2s linear infinite;
}
@keyframes load{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.preloader-inner{
  padding: 5vh;
}
.preloader-inner img{
  height: 12vh;
  width: 12vh;
  animation: still 2s linear infinite;
}
@keyframes still{
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}
#nav{
  display: flex;
  height: 15vh;
  align-items: center;
  padding: 0 70px;
  user-select: none;
  background-color: white;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 5;
  transition: top 0.3s;
  box-sizing: border-box;
}
.nav-logo{
  height: 10vh;
  filter: brightness(0.0);
  display: flex;
  align-items: baseline;
  font-family: kiona;
  font-size: 3em;
  letter-spacing: -4.5px;
  cursor: pointer;
}
.nav-logo img{
  height: 100%;
}
.nav-elements{
  font-family: Circular, sans-serif;
  margin-left: 100px;
  font-size: 19.2px;
  color: #484848;
  cursor: pointer;
}
.signup{
  padding: 12px 21px;
  border: 1px #EBEBEB solid;
  border-radius: 150px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease;
}
.signup:hover{
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
}
.signup:active{
  box-shadow:  inset 0px 1px 3px 0px rgba(0, 0, 0, 0.18);
}
main{
  width: 100%;
  overflow: hidden;
}
main img{
  width: 100vw
}
.footer{
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  padding: 0px 130px;
}
.footer-placeholder{
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-copyright{
  height: 80px;
  position: relative;
  bottom: 0px;
  display: flex;
  align-items: center;
  border-top: #0000003b 1px solid;
}
body{
  margin: 0px;
  padding: 0px;
}